*{
    margin:0;
    padding: 0;
}
.title{
    height: 100px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
body{
    background: rgb(201, 209, 211);
}
.choices{
    display: flex;
    justify-content: center;
    height: 350px;
    gap:2rem;
}
.choice{
    height: 200px;
    border-radius: 50%;
}
.choice:hover{
    opacity: 50%;
    cursor: pointer;
}
img{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    font-size: 50px;
    gap:5rem;
}
.msg-container{
    display: flex;
    height: 100px;
    justify-content: center;
    margin-top: 60px;
    font-size: 40px;
}
#msg{
    height:60px;
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
}
